@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    color: grey;
}

h1, h2 {
    font-family: Koulen, sans-serif;
    color: crimson;
}

.top-nav {
    background-color: black;
    height: 100px;
}

.logo-size {
    float: left;
    max-height: 70px;
    margin-top: 15px;
    margin-left: 30px;
}

#menu {
    font-size: 120%;
}

#menu {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    font-weight: 700;
}

.active {
    font-weight: 900;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-gym-website-banner.jpg') no-repeat center center;
    background-size: cover;
    border-top-style: solid;
    border-top-color: rgb(0, 222, 231);
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 222, 231);
    border-bottom-width: 5px;
}

#opacity {
    background-color: rgba(0, 0, 0, 2.8);
}